<section class="slides container py-5 wow animate__zoomInDown">
  <div class="slides__images infinite slidesToShow mt-4">
    <div class="image">
      <img src="assets/images/tea1.png" alt="Tea" class="w-100">
    </div>
    <div class="image">
      <img src="assets/images/tea2.png" alt="Tea" class="w-100">
    </div>
    <div class="image">
      <img src="assets/images/tea3.png" alt="Tea" class="w-100">
    </div>
  </div>
</section>

<section class="d-flex container flex-column align-items-center pb-5">
  <h2 class="text-center mb-5 fs-3 fw-bold">Ответы на часто задаваемые вопросы</h2>
  <div class="col-lg-8" style="margin: 0 auto">
    <div id="accordion" class="mb-4">
      <h3 class="bg-primary text-white rounded-3 border-0 p-4 mb-3 h-auto hvr-float-shadow">Собираете ли вы подарочные боксы?</h3>
      <div class="border-0">
        <p>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
          стоимость!
        </p>
      </div>
      <h3 class="bg-primary text-white rounded-3 border-0 p-4 mb-3 hvr-float-shadow">Сколько у вас разновидностей чая?</h3>
      <div class="border-0">
        <p>
          Наш ассортимент чая представлен шестью видами.
        </p>
      </div>
      <h3 class="bg-primary text-white rounded-3 border-0 p-4 mb-3 hvr-float-shadow">В какой срок осуществляется доставка?</h3>
      <div class="border-0">
        <p>
          Доставка осуществляется в течении 3-4 дней.
        </p>
      </div>
      <h3 class="bg-primary text-white rounded-3 border-0 p-4 mb-3 hvr-float-shadow">У вас обновляется ассортимент?</h3>
      <div class="border-0">
        <p>
          Ассортимент обновляется каждые три месяца.
        </p>
      </div>
      <h3 class="bg-primary text-white rounded-3 border-0 p-4 mb-3 hvr-float-shadow">Какого объема у вас пачки чая?</h3>
      <div class="border-0">
        <p>
          Каждая пачка чая весит 37,5 грамм.
        </p>
      </div>
    </div>
  </div>
</section>
