body {
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #076BFF;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-next.slick-arrow {
  right: 16px;
}

.slick-prev.slick-arrow {
  left: 16px;
  z-index: 1;
}

.slick-arrow::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background: url("assets/images/icons/arrow-right.png") center no-repeat;
}

.slick-arrow.slick-prev::before {
  transform: rotate(180deg);
}

.ui-accordion .ui-accordion-header {
  position: relative;
}

.ui-icon {
  content: url("assets/images/icons/vector.svg");
  top: 30px;
  right: 15px;
  position: absolute;
  display: inline-block;
  background-image: url("assets/images/icons/vector.svg");
}

.ui-state-active .ui-icon {
  transform: rotate(180deg);
  background-image: url("assets/images/icons/vector.svg");
}

.ui-state-hover .ui-icon {
  background-image: url("assets/images/icons/vector.svg");
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  button.slick-next.slick-arrow {
    right: 5px;
  }

  button.slick-prev.slick-arrow {
    left: 5px;
    z-index: 1;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.invalid-feedback {
  display: block !important;
}

.server-error {
  transition: all .3s ease-in-out;
}

.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    color: #076BFF;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .loader:after {
    box-sizing: border-box;
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    border: 32px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: spin 2s infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
